<%= render partial: "menu" %>
<%= form_with url: "/search", method: :get do |form| %>
    <%= form.select :category, ["Everything", "Games", "Characters", "Places", "Monsters", "Bosses"] %>
    <%= form.label :query, "Search this API:" %>
    <%= form.search_field :query %>
    <%= form.submit "Search" %>
<% end %>

<h1>Search Results</h1>

<% if @results.any? %>
  <ul>
    <% @results.each do |result| %>
      <li><%= result.inspect %></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>
