<%= render partial: "games/menu" %>
<h1>Zelda Characters</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Gender</th>
        <th>Race</th>
        <th>First Apperance</th>
    <tr>
    <% @characters.each do |character|%>
        <tr>
            <td><%= link_to character.name, character_path(character) %></td>
            <td><%= character.description%></td>
            <td><%= character.gender%></td>
            <td><%= character.race%></td>
            <td><a href="#"><%= character.game_uuid%></a></td><!--link to game -->
        </tr>
    <% end %>
</table>