<%= render partial: "games/menu" %>
<h1>Zelda Characters</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Gender</th>
        <th>Race</th>
        <th>First Apperance</th>
    <tr>
    <% @characters.each do |character|%>
        <tr>
            <td><%= link_to character.name, character_path(character) %></td>
            <td><%= character.description%></td>
            <td><%= character.gender%></td>
            <td><%= character.race%></td>
            <% if character.game_uuid.present? %>
                <td><%= link_to character.game_uuid, game_path(character.game_uuid) %></td>
            <% end %>
        </tr>
    <% end %>
</table>