<%= render partial: "games/menu" %>
<h1>Zelda Bosses</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>First Apperance</th>
    <tr>
    <% @bosses.each do |boss|%>
        <tr>
            <td><%= link_to boss.name, boss_path(boss) %></td>
            <td><%= boss.description%></td>
            <% if boss.game_uuid.present? %>
                <td><%= link_to boss.game_uuid, game_path(boss.game_uuid) %></td>
            <% end %>
        </tr>
    <% end %>
</table>
<%= will_paginate @bosses %>