<%= render partial: "games/menu" %>
<h1><%= @show.name%></h1>
<table>
    <tr>
        <td>Description: <%= @show.description%></td>
        <% if @show.game_uuid.present?%>
            <td>First Apperance: <%= link_to @show.game_uuid, game_path(@show.game_uuid) %></td>
            <% end %>
        <% if @show.character_uuid.present?%>
            <td>First Inhabitant: <%= link_to @show.character_uuid, character_path(@show.character_uuid) %></td><!--doesn't work-->
        <% end %>
    </tr>
<table>