<%= render partial: "games/menu" %>
<h1>Zelda Places</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>First Apperance</th>
        <th>First Inhabitant</th>
    <tr>
    <% @places.each do |place|%>
        <tr>
            <td><%= link_to place.name, place_path(place) %></td>
            <td><%= place.description%></td>
            <% if place.game_uuid.present? %>
                <td><%= link_to place.game_uuid, game_path(place.game_uuid) %></td>
            <% end %>
            <% if place.character_uuid.present? %>
                <td><%= link_to place.character_uuid, character_path(place.character_uuid) %></td><!--doesn't work-->
            <% end %>
        </tr>
    <% end %>
</table>